* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.Wrap{
	min-width: 768px;
}
.WrapperContent{
	height: 580px;
}
.Header-main{
	font-size: 30px;
}

.Header{
	background: #aaa;
	position: fixed;
	width: 100%;
	height: 70px;
	line-height: 70px;
	z-index: 2;
}
.Header-main,
.Footer-main{
	font-size: 18px;
	float: left;
}
.Header-sub{
	font-size: 16px;
	margin-left: 60px;
}

.Main{
	position: relative;
	height: 100%;
	top: 70px;
}
.Sidebar-left{
	float: left;
	width: 150px;
	height: calc(100% - 69px);
	margin-right: 20px;
	background: #ccc;

}
.Sidebar-navbar{
	top: 20px;
	left: 40px;
	position: relative;
	list-style: disc;
}

.Sidebar-footer{
	position: sticky;
	margin-top: 270px;
	bottom: 10px;
    width: 150px;
    background: #bbb;
}

.Sidebar-right{
	float: right;
	width: 100px;
	height: 250px;
	background: #ccc;
	margin-left: 10px;
}

.Content{
	float: none;
	height: 100%;
}

.Content-main{
	padding: 20px;
}

.Content-text{
	padding-bottom: 20px;
}

.Footer{
	background: #aaa;
	width: 100%;
	position: sticky;
	bottom: 0;
	top: 400px;
	overflow: auto;
	height: 70px;
	padding: 10px;
}

.Footer-text{
	font-size: 18px;
}